/* NAVIGATION */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9rem;
	width: 100%;
	z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.95);
}

.nav__site-logo {
	display: flex;

	.nav__logo {
		height: 3.5rem;
		transition: all 0.3s;
	}

	h2 {
		color: $color-dark;
		font-size: 2.3rem;
		margin-left: 1.5rem;
	}
}

.nav__links {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav__item {
	margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
	font-size: 1.5rem;
	font-weight: 600;
	color: $color-dark;
	text-decoration: none;
	display: block;
	transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
	padding: 0.8rem 2.5rem;
	border-radius: 3rem;
	background-color: var(--color-primary);
	color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
	color: inherit;
	background-color: var(--color-primary-darker);
	color: #333;
}

/* HEADER */
.header {
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color-primary-light;
	padding: 3em 30em;
}

.header__title {
	flex: 1;
	display: grid;
	grid-template-columns: 3fr 2fr;
	row-gap: 3rem;
	align-content: center;
	justify-content: center;
	margin-top: 10rem;

	align-items: start;
	justify-items: start;
}

.header__description {
	margin: 7rem 0;
	padding-right: 5rem;

	p {
		margin: 3rem 0;
	}
}

.header__img {
	grid-column: 2 / 3;
	grid-row: 1 / span 4;
}

.header__icons {
	position: absolute;
}

.header__brands {
	position: absolute;
	right: 0;
	bottom: 8rem;
	background-color: $color-light;
	padding: 6rem 30rem 0rem 5rem;
	border-top-left-radius: 3rem;

	img {
		height: 4.8rem;
		margin: 0 5rem;
	}
}

.highlight {
	position: relative;
}

.highlight::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
	transform: scale(1.07, 1.05) skewX(-15deg);
	background-image: var(--gradient-primary);
}
