* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #6f6f6f;
  background-color: #fcfdfd;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.35;
  color: #2e2e2e;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

p {
  font-size: 1.7rem;
  font-weight: 500;
}

img {
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

svg {
  height: 2.4rem;
  width: 2.4rem;
  fill: #48b774;
  margin-right: 0.7rem;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: #6f6f6f;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 3rem;
}

.btn--text img {
  height: 2.5rem;
  fill: #ff8345;
}

.active {
  background-color: #48b774;
  padding: 2rem 5rem;
  border-radius: 5rem;
  color: #fcfdfd;
}

.lazy-img {
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

/* NAVIGATION */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9rem;
  width: 100%;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__site-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__site-logo .nav__logo {
  height: 3.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__site-logo h2 {
  color: #2e2e2e;
  font-size: 2.3rem;
  margin-left: 1.5rem;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2e2e2e;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

/* HEADER */
.header {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #edf8f4;
  padding: 3em 30em;
}

.header__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: start;
}

.header__description {
  margin: 7rem 0;
  padding-right: 5rem;
}

.header__description p {
  margin: 3rem 0;
}

.header__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
}

.header__icons {
  position: absolute;
}

.header__brands {
  position: absolute;
  right: 0;
  bottom: 8rem;
  background-color: #fcfdfd;
  padding: 6rem 30rem 0rem 5rem;
  border-top-left-radius: 3rem;
}

.header__brands img {
  height: 4.8rem;
  margin: 0 5rem;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  -webkit-transform: scale(1.07, 1.05) skewX(-15deg);
          transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.section {
  padding: 15rem 3rem;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */