@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--color-primary: #48b774;
	--color-secondary: #ff8345;
	--color-tertiary: #ffca45;
	--color-primary-light: #edf8f4;
	--color-secondary-light: #fff0e9;
	--color-tertiary-light: #fff6dd;
	--color-primary-dark: #3aaa66;
	--color-dark: #2e2e2e;
	--color-grey: #f6f8f7;
	--color-grey-darker: #616161;
	--color-light: #fcfdfd;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: var(--color-grey-darker);
	background-color: var(--color-light);
}

h1 {
	font-size: clamp(1.8rem, 3vw + 0.25rem, 3rem);
	line-height: clamp(2.5rem, 3vw + 1rem, 3rem);
	padding-bottom: 1.25vh;
	color: var(--color-dark);
}

h2 {
	font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
	padding-bottom: 1vh;
	text-transform: uppercase;
	font-weight: 600;
	color: var(--color-primary);
}

h3 {
	font-size: clamp(1.5rem, 2vw + 0.25rem, 2.5rem);
	line-height: clamp(2rem, 3vw + 1rem, 2.75rem);
	color: var(--color-dark);
	padding-bottom: 1vh;
}

h4 {
	font-size: clamp(1.2rem, 1.5vw + 0.25rem, 1.6rem);
	line-height: clamp(1.75rem, 3vw + 1rem, 2.75rem);
	font-weight: 600;
	color: var(--color-dark);
	padding-bottom: 1vh;
}

p {
	font-size: clamp(0.9rem, 1vw + 0.15rem, 1.1rem);
	line-height: clamp(1.25rem, 2vw + 1rem, 1.8rem);
}

/* ----- GENERAL ELEMENTS ----- */
.section {
	padding: 7vh min(20% + 0.25em, 2em);
	transition: transform 1s, opacity 1s;
}

.section--hidden {
	opacity: 0;
	transform: translateY(8rem);
}

.section__title {
	margin-bottom: 2em;
}

.section__bottom-row {
	display: flex;
	flex-direction: column;
}

.lazy-img {
	filter: blur(15px);
}

/* ----- NAVIGATION ----- */
.nav {
	display: flex;
	justify-content: space-between;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 8vh;
	align-items: center;
}

.nav__site-logo {
	display: flex;
	margin-left: 1em;
}

.nav__site-logo img {
	width: 1.8em;
	height: 1.8em;
}

.site-text {
	padding-left: 0.5em;
	color: var(--color-dark);
}

.hamburger-menu {
	padding-top: 0.15em;
	margin-right: 1em;
	transition: opacity 0.3s;
}

.hamburger-menu:hover {
	cursor: pointer;
	opacity: 0.75;
}

.line {
	width: 1.25rem;
	height: 2px;
	background-color: var(--color-dark);
	margin: 4px 0;
	transition: all 0.3s ease-in-out;
}

.nav__links {
	display: none;
	flex-direction: column;
	align-items: center;
	list-style: none;
	position: absolute;
	top: 8vh;
	width: 100%;
	min-height: 20em;
	justify-content: space-evenly;
	background-color: var(--color-light);
	box-shadow: 0 10px 30px 0 rgba(202, 206, 201, 0.418);
	gap: 1em;
}

.nav__link,
.nav__link--btn {
	font-size: clamp(0.9rem, 1vw + 0.15rem, 1.1rem);
	font-weight: 500;
	color: var(--color-dark);
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s;
	font-family: inherit;
}

.nav__link--btn {
	background-color: transparent;
	border: none;
}

.nav__link:hover,
.nav__link--btn:hover {
	color: var(--color-secondary);
}

.active-menu {
	display: flex;
}

/* ----- HEADER ----- */
.header {
	padding: 10vh min(20% + 0.25em, 2em) 0;
	margin-bottom: 7vh;
	background-color: var(--color-primary-light);
	position: relative;
	overflow: hidden;
}

.hero {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	margin-top: 2em;
}

.header__graphics {
	text-align: center;
	position: relative;
}

.header__title {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.header_buttons {
	margin-top: 1.5em;
	display: flex;
	flex-direction: column;
}

.btn--start,
.btn--watch {
	font-size: clamp(0.9rem, 1vw + 0.15rem, 1.1rem);
	font-weight: 400;
	padding: 1em 3vw;
	margin: 0.25em;
	border-radius: 4rem;
	background-color: var(--color-primary);
	border: none;
	color: var(--color-light);
	cursor: pointer;
	transition: all 0.5s;
	font-family: inherit;
}

.btn--watch {
	background: none;
	color: var(--color-grey-darker);
}

.btn--start:hover,
.btn--watch:hover {
	background-color: var(--color-primary-dark);
	box-shadow: 2px 5px 13px 0 rgba(20, 148, 48, 0.418);
	color: var(--color-light);
}

.header__img {
	width: min(110%, 70vh + 1em);
	margin-top: 5vh;
}

.icon__send,
.icon__inbox {
	width: max(2rem, 5vw + 1.5em);
	position: absolute;
}

.icon__send {
	top: 1em;
	left: 2em;
	transform: rotate(-20deg);
}

.icon__inbox {
	top: 9em;
	left: 1em;
	transform: rotate(20deg);
}

.grow {
	animation: grow 0.7s ease-in;
}

.grow__send {
	animation: grow__send 2s ease-in;
}

.grow__inbox {
	animation: grow__inbox 2s ease-in;
}

@keyframes grow {
	from {
		transform: translateY(15em);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes grow__send {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: rotate(-20deg);
	}
}

@keyframes grow__inbox {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: rotate(20deg);
	}
}

.header__brands {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--color-light);
	bottom: 0;
	right: 0;
	justify-content: space-between;
	border-top-left-radius: 1.5em;
	gap: min(5vw, 2.5em);
	padding: 1.5em 10vw;
}

.header__brands img {
	height: min(5vw, 3em);
}

/* ----- SERVICES ----- */

.btn--text,
.btn--explore {
	background: none;
	font-size: clamp(0.9rem, 1vw + 0.15rem, 1.1rem);
	font-family: inherit;
	color: var(--color-grey-darker);
	border: none;
	padding: 1em 10vw;
	border-radius: 4rem;
	cursor: pointer;
	transition: all 0.3s;
	margin-top: 2vh;
}

.btn--text i,
.btn--explore i {
	margin-left: 0.5em;
}

.btn--text:hover,
.btn--explore:hover {
	background-color: var(--color-primary);
	box-shadow: 2px 5px 13px 0 rgba(20, 148, 48, 0.418);
	color: var(--color-light);
}

.services {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1.7em;
}

.services__service {
	border-radius: min(1.5vw + 0.5em, 3rem);
	padding: 3vh max(6vw, 1.5em);
	flex: 1;
	transition: all 0.5s;
	text-align: center;
}

.services__service:hover {
	box-shadow: 0 10px 30px 0 rgba(214, 218, 213, 0.418);
}

.services__service img {
	max-width: 2em;
}

.icon--chart,
.icon--sales,
.icon--expert {
	background-color: var(--color-secondary-light);
	width: max(3rem, 3vw);
	padding: min(1.25rem, 3vw);
	border-radius: 1.4rem;
	text-align: center;
	margin: 0 auto 1em;
}

.icon--sales {
	background-color: var(--color-primary-light);
}

.icon--expert {
	background-color: var(--color-tertiary-light);
}

.icon--chart img {
	filter: invert(64%) sepia(37%) saturate(2465%) hue-rotate(329deg)
		brightness(102%) contrast(101%);
}

.icon--sales img {
	filter: invert(88%) sepia(5%) saturate(5983%) hue-rotate(77deg)
		brightness(84%) contrast(64%);
}

.icon--expert img {
	filter: invert(97%) sepia(61%) saturate(3494%) hue-rotate(319deg)
		brightness(100%) contrast(100%);
}

/* ----- PORTFOLIO ----- */

.btn--explore {
	padding: 1em 5vw;
	margin-top: 0;
}

.portfolio {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.portfolio__top,
.portfolio__bottom {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.portfolio__project {
	flex: 1;
}
.portfolio__img {
	border-radius: min(2vw + 0.5em, 3rem);
	object-fit: cover;
	overflow: hidden;
	margin-bottom: 1.5em;
}
.portfolio__project img {
	width: 100%;
	opacity: 0.8;
	transition: all 0.4s ease-in;
	transform: scale(1.1);
}

.portfolio__project img:hover {
	opacity: 1;
	transform: scale(1.15);
}

/* ----- TESTIMONIALS ----- */

#section--3 {
	background-color: var(--color-primary-light);
}

.slider__btn-left,
.slider__btn-right {
	background-color: var(--color-light);
	font-size: clamp(1rem, 1vw + 0.25rem, 1.25rem);
	padding: 1.25em 1.5em;
	border-radius: 2.5em;
	border: none;
	color: var(--color-grey-darker);
	transition: all 0.3s;
	cursor: pointer;
}

.slider__btn-left:hover,
.slider__btn-right:hover {
	background-color: var(--color-primary);
	box-shadow: 2px 5px 13px 0 rgba(20, 148, 48, 0.418);
	color: var(--color-light);
}

.slider {
	display: flex;
	flex-direction: row;
}

.slide {
	flex: 1;
	width: 60vw;
	background-color: var(--color-light);
	padding: max(1.5rem, 2.5vw + 0.5em);
	border-radius: min(2vw + 0.5em, 2rem);
	margin: 0 1em;
}

.quote-icon {
	color: var(--color-primary);
	margin-bottom: 1em;
	font-size: 2rem;
}

.testimonial__author {
	display: flex;
	margin: 2em 0;
}

.testimonial__author img {
	height: 10%;
	width: max(12%, 3rem);
	border-radius: max(10%, 3rem);
	margin-right: 1em;
}

.testimonial__name {
	color: var(--color-dark);
	font-weight: 500;
}

.testimonial__rating {
	color: var(--color-tertiary);
	font-size: 1.25em;
}

/* ----- SUBSCRIBE ----- */

.section--subscribe {
	text-align: center;
}

.subscribe__form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
}

.subscribe__form input {
	border: none;
	box-shadow: 0 10px 30px 0 rgba(214, 218, 213, 0.418);
	font-size: clamp(0.9rem, 1vw + 0.15rem, 1.1rem);
	font-family: inherit;
	padding: 2vh min(2vw + 0.5em, 3em);
	border-radius: 2rem;
	width: 85%;
}

.subscribe__form input:focus {
	outline: none;
}

.btn--subscribe {
	font-size: clamp(0.9rem, 1vw + 0.15rem, 1.1rem);
	padding: 1.25vh 0.8em;
	border-radius: 4rem;
	background-color: var(--color-primary);
	border: none;
	color: var(--color-light);
	cursor: pointer;
	transition: all 0.3s;
	font-family: inherit;
	margin-left: -7em;
}

.btn--subscribe:hover {
	background-color: var(--color-primary-dark);
}

/* ----- FOOTER ----- */

.footer__content {
	display: flex;
	flex-direction: column;
	padding: 8vh min(20% + 0.25em, 2em) 5vh;
}

.footer__logo {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.footer__logo img {
	width: max(2rem, 2vw + 0.5em);
	margin-right: 0.5em;
}

.footer__nav--container {
	margin: 1.5vh 0;
}

.footer__nav-title {
	font-size: clamp(1rem, 1.5vw + 0.25rem, 1.3rem);
	font-weight: 600;
	color: var(--color-dark);
	padding-bottom: 1vh;
}

.footer__item {
	list-style: none;
}

.footer__link {
	font-size: clamp(0.9rem, 1vw + 0.15rem, 1.1rem);
	text-decoration: none;
	transition: all 0.3s;
	color: var(--color-grey-darker);
}

.footer__copyright {
	background-color: var(--color-primary);
	display: flex;
	color: var(--color-light);
	padding: 1vh min(20% + 0.25em, 2em);
	font-size: clamp(0.9rem, 1vw + 0.15rem, 1.1rem);
	flex-direction: column;
	text-align: center;
}

.footer__socmed i {
	display: none;
}

/* ----- MODAL WINDOW ----- */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(35rem, 60vw + 1em);
	background-color: var(--color-light);
	padding: 5vh min(5em, 7vw + 0.5em) 4vh;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
	z-index: 1000;
	transition: all 0.5s;
	border-radius: min(2vw + 1em, 2rem);
}

.modal-subscribe {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
	background-color: var(--color-light);
	padding: 5vh;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
	z-index: 1000;
	transition: all 0.5s;
	border-radius: 1.5em;
	text-align: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(170, 180, 173, 0.5);
	backdrop-filter: blur(4px);
	z-index: 100;
	transition: all 0.5s;
}

.btn--close-modal,
.btn--close-subscribe {
	font-family: inherit;
	color: var(--color-primary);
	position: absolute;
	top: 0.2rem;
	right: min(2rem, 3vw + 0.2em);
	font-size: 2.2em;
	cursor: pointer;
	border: none;
	background: none;
}

.modal__form {
	display: flex;
	flex-direction: column;
}

.modal__form label {
	font-size: clamp(0.8rem, 1vw + 0.25rem, 1rem);
	line-height: clamp(0.5rem, 1vw + 1rem, 1.8rem);
	font-weight: 400;
	color: var(--color-grey-darker);
}

.modal__form input {
	font-size: clamp(0.8rem, 1vw + 0.25rem, 1rem);
	font-family: inherit;
	padding: 0.7em min(1.5rem, 1vw + 0.4em);
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	margin-bottom: 1em;
}

.modal__form input:focus {
	outline: none;
}

.modal__form button {
	align-self: center;
	font-size: clamp(0.8rem, 1vw + 0.25rem, 1rem);
	border-radius: 3rem;
	background-color: var(--color-primary);
	border: none;
	color: var(--color-light);
	cursor: pointer;
	transition: all 0.5s;
	font-family: inherit;
	padding: 1em 5vw;
	margin-top: 2vh;
}

.modal__form button:hover {
	background-color: var(--color-primary-dark);
	box-shadow: 2px 5px 13px 0 rgba(20, 148, 48, 0.418);
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

@media only screen and (min-width: 600px) {
	/* ----- BUTTONS ----- */
	.header_buttons {
		gap: 0.5em;
		flex-direction: row;
	}

	.btn--explore {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	/* ----- NAVIGATION ----- */
	.nav {
		background-color: none;
		justify-content: space-between;
		align-items: center;
		right: 0;
		position: relative;
		height: auto;
	}

	.nav__site-logo {
		margin-left: 0;
	}

	.site-text {
		padding: 0.25em 0.5em;
		color: var(--color-dark);
	}

	.hamburger-menu {
		display: none;
	}

	.nav__links {
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		position: relative;
		top: 0;
		width: 100%;
		min-height: 0;
		background: none;
		box-shadow: none;
	}

	.nav__link {
		display: block;
		position: relative;
		padding: 0.7em;
	}

	.nav__link--btn {
		font-weight: 400;
		padding: 0.7em 2vw;
		border-radius: 4rem;
		background: var(--color-primary);
		color: var(--color-light);
	}

	.nav__link--btn:hover {
		color: var(--color-light);
		background-color: var(--color-primary-dark);
		box-shadow: 2px 5px 13px 0 rgba(20, 148, 48, 0.418);
	}

	.nav__link:hover {
		border-bottom: 5px solid var(--color-secondary);
		color: var(--color-dark);
		border: none;
	}

	.nav__link:after {
		content: '';
		position: absolute;
		width: 0px;
		height: 5px;
		left: 50%;
		bottom: 0;
		transition: all ease-in-out 0.2s;
		background-color: var(--color-secondary);
	}

	.nav__link:hover:after {
		width: 30%;
		left: 35%;
	}

	/* ----- HEADER ----- */
	.section {
		padding: 7vh min(20% + 0.25em, 13vw);
	}

	.header {
		padding: 4vh 8% 0;
		margin-bottom: 5em;
	}

	.hero {
		margin-top: 5em;
	}

	.section__bottom-row {
		flex-direction: row;
		justify-content: space-between;
		gap: 0;
	}

	.section__header {
		width: 60%;
	}

	.section__subtext {
		width: 70%;
	}

	.icon__send {
		top: 2em;
		left: 8em;
	}

	.icon__inbox {
		top: 21em;
		left: 4em;
		transform: rotate(20deg);
	}

	.btn--explore {
		margin-left: 10vw;
		padding: 1em 5vw;
		width: 60%;
	}

	.services {
		flex-direction: row;
		gap: 1.2em;
	}

	.portfolio {
		flex-direction: row;
	}

	.slide {
		width: 50vw;
	}

	.footer__content {
		flex-direction: row;
		padding: 8vh min(20% + 0.25em, 13vw) 5vh;
	}

	.footer__nav--container {
		margin: 0 0.5em;
		flex-shrink: 0;
	}

	.footer__nav-get-in-touch {
		flex-shrink: 1;
	}

	.footer__copyright {
		flex-direction: row;
		justify-content: space-between;
		padding: 1vh min(20% + 0.25em, 13vw);
	}

	.footer__socmed {
		display: flex;
		gap: 1.5em;
		justify-content: space-between;
		align-items: center;
	}

	.footer__socmed i {
		display: block;
	}
}

@media only screen and (min-width: 1024px) {
	.nav {
		margin-bottom: 0;
	}

	.section {
		padding: 15vh min(20% + 0.25em, 13vw);
	}

	.section__header {
		width: 40%;
	}

	.modal {
		width: min(30rem, 40vw + 1em);
	}

	.header {
		align-items: center;
		padding: 4vh min(20% + 0.25em, 13vw) 0;
	}

	.hero {
		margin-top: 0;
	}

	.header__title {
		flex-direction: row;
		height: 80vh;
		gap: 0;
		align-items: center;
	}

	.header__img {
		width: 110%;
		padding-top: 6vh;
	}

	.btn--text,
	.btn--explore {
		padding: 1em 1.5em;
		border-radius: 3rem;
	}

	.btn--explore {
		width: 30%;
	}

	.icon__send {
		width: max(2rem, 3vw + 1.5em);
		top: 8em;
		left: 2em;
	}

	.icon__inbox {
		width: max(2rem, 3vw + 1.5em);
		top: 30em;
		left: -2em;
	}

	.services__service {
		text-align: left;
		padding: 3vh max(2vw, 1.5em);
		margin: 0;
		width: auto;
	}

	.icon--chart,
	.icon--sales,
	.icon--expert {
		margin: 1em 0;
	}

	.slide {
		width: 40vw;
	}

	.subscribe__form input {
		width: 70%;
	}

	.footer__content {
		gap: 1vw;
		justify-content: space-between;
	}
}

@media only screen and (min-width: 1440px) {
	.section {
		padding: 17vh min(20% + 0.25em, 20vw);
	}

	.header {
		padding: 4vh min(20% + 0.25em, 20vw) 0;
	}

	.header__description {
		width: 60%;
	}

	.slide {
		width: 23vw;
	}

	.modal-subscribe {
		width: 30vw;
	}
	.footer__content {
		padding: 7em 15vw 5vh;
	}
}
